extends base

block content
  .section-admin
    a.btn.btn--white(href='/me') ← Back to Account

    h2.heading-secondary.u-margin-bottom-medium Manage Users

    .form-layout
      each user in users
        .form-card
          img.form-avatar(src=`/img/users/${user.photo}`, alt=user.name)
          .form-info
            p
              strong Name:
              |  #{user.name}
            p
              strong Email:
              |  #{user.email}
            p
              strong Role:
              |  #{user.role}
          .form-actions
            button.btn.btn--red(data-id=resource._id) Delete


