extends base

block content
  .section-users
    h2.heading-secondary.u-margin-bottom-medium Manage Users

    table.table
      thead
        tr
          th Avatar
          th Name
          th Email
          th Role
          th Actions
      tbody
        each user in users
          tr
            td 
              img(src=`/img/users/${user.photo}` width="40")
            td #{user.name}
            td #{user.email}
            td #{user.role}
            td
              button.btn.btn--red(data-id=user._id) Delete
