extends base

block content
  .section-admin
    a.btn.btn--white(href='/account') ← Back to Account

    h2.heading-secondary.u-margin-bottom-medium Manage Bookings

    .form-layout
      each b in bookings
        .form-card
          .form-info
            p
              strong Tour:
              |  #{b.tour.name}
            p
              strong User:
              |  #{b.user.name} (#{b.user.email})
            p
              strong Price:
              |  £#{b.price}
          .form-actions
            button.btn.btn--red(data-id=b._id) Delete
