extends base

block content
  main.main
    if noBookings
      .no-bookings-message
        h2.heading-secondary No bookings yet!
        p.card__text Start exploring our top-rated tours and book your first adventure! 🌟

    .card-container
      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src='/img/tours/' + tour.imageCover, alt=tour.name)
            h3.heading-tertirary
              span= tour.name

          .card__details
            h4.card__sub-heading #{tour.difficulty} #{tour.duration}-day tour
            p.card__text= tour.summary

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation ? tour.startLocation.description : 'Location TBC'

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= tour.startDateFormatted

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span= tour.locationsCount + ' stops'

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= tour.maxGroupSize + ' people'

          .card__footer
            p
              span.card__footer-value= '$' + tour.price
              | 
              span.card__footer-text per person

            p.card__ratings
              span.card__footer-value= tour.ratingsAverage
              | 
              span.card__footer-text= 'Rating (' + tour.ratingsQuantity + ')'

            a.btn.btn--green.btn--small(href='/tour/' + tour.slug) Details

            if showReview
              if tour.hasReviewed
                p.card__text(style='margin-top: 1rem; color: #999') ✅ You already reviewed this tour.
              else
                button.btn.btn--blue.open-review-modal(
                  type='button',
                  data-tour-id=tour._id,
                  data-tour-name=tour.name
                ) Leave a review

  // ✅ Modal 必须写在 block content 内
  #reviewModal.modal.hidden
    .modal__overlay
    .modal__window
      h2.modal__title Leave a review for 
        span#modal-tour-name
      form#modal-review-form.form-review(method='POST')
        input(type='hidden', name='tour', id='modal-tour-id')
        .form__group
          label(for='modal-review-text') Your review
          input.form__input(
            type='text',
            name='review',
            id='modal-review-text',
            placeholder='Write something...'
          )
        .form__group
          label Rating
          .rating-stars
            each star in [1,2,3,4,5]
              svg.star(data-value=star)
                use(xlink:href='/img/icons.svg#icon-star')
        .modal__buttons
          button.btn.btn--green(type='submit') Submit
          button.btn.btn--gray(type='button', id='close-review-modal') Cancel
